<?xml version="1.0"?>

<launch>

  <!-- ARGS -->
  <arg name="neural_net_graph_path" default="$(find segmentation_projection)/config/deeplab_frozen_graph_2019_02_27.pb" />

    <arg name="bagfile" default="/home/biped/seagate/bagfiles/2019-03-18/nclt_04_29_4000_cam1_5.bag" />

    
    <!-- RVIZ -->

    <!-- Run segmentation node -->

    <node pkg="segmentation_projection"     type="segmentation_projection_node" name="segmentation_projection_node" output="screen" clear_params="true" required="true" >
      
      <param name="labeled_pointcloud"   type="string" value="labeled_pointcloud" />
    
      <param name="neural_net_graph"     type="string" value="$(arg neural_net_graph_path)"/>
      <param name="num_classes"           type="int"   value="14"/>
      <param name="neural_net_input_width" type="int"  value="1024" />
      <param name="neural_net_input_height" type="int" value="512" />
      <param name="network_label_output_tensor"  type="string" value="SemanticPredictions:0" />
      <param name="network_image_input_tensor"   type="string" value="import/ImageTensor:0"/>
      <param name="network_distribution_output_tensor"  type="string" value="import/ResizeBilinear_2:0" />
    
      <param name="lidar"                type="string" value="/velodyne_points" />
      <param name="velodyne_synced_path" type="string" value="/home/biped/seagate/NCLT/04_29/2012-04-29-lidar/velodyne_sync/" />
    
      <param name="camera_num"           type="int"    value='5' />
      <param name="image_0"              type="string" value="/camera1/color/image_raw" />
      <param name="cam_intrinsic_0"    type="string" value="$(find segmentation_projection)/config/nclt_cams/nclt_intrinsic_1.npy"/>	
      <param name="cam2lidar_file_0"     type="string" value="$(find segmentation_projection)/config/nclt_cams/cam2lidar_1.npy"/>
      <param name="cam_distortion_0"        type="string" value="$(find segmentation_projection)/config/nclt_cams/U2D_Cam1_1616X1232.txt" />

      <param name="image_1"              type="string" value="/camera4/color/image_raw" />
      <param name="cam_intrinsic_1"    type="string" value="$(find segmentation_projection)/config/nclt_cams/nclt_intrinsic_4.npy"/>	
      <param name="cam2lidar_file_1"     type="string" value="$(find segmentation_projection)/config/nclt_cams/cam2lidar_4.npy"/>
      <param name="cam_distortion_1"        type="string" value="$(find segmentation_projection)/config/nclt_cams/U2D_Cam4_1616X1232.txt" />
      
      <param name="image_2"              type="string" value="/camera5/color/image_raw" />
      <param name="cam_intrinsic_2"    type="string" value="$(find segmentation_projection)/config/nclt_cams/nclt_intrinsic_5.npy"/>	
      <param name="cam2lidar_file_2"     type="string" value="$(find segmentation_projection)/config/nclt_cams/cam2lidar_5.npy"/>
      <param name="cam_distortion_2"        type="string" value="$(find segmentation_projection)/config/nclt_cams/U2D_Cam5_1616X1232.txt" />

 
      <param name="image_3"              type="string" value="/camera2/color/image_raw" />
      <param name="cam_intrinsic_3"    type="string" value="$(find segmentation_projection)/config/nclt_cams/nclt_intrinsic_2.npy"/>	
      <param name="cam2lidar_file_3"     type="string" value="$(find segmentation_projection)/config/nclt_cams/cam2body_2.npy"/>
      <param name="cam_distortion_3"        type="string" value="$(find segmentation_projection)/config/nclt_cams/U2D_Cam2_1616X1232.txt" />
      
      <param name="image_4"              type="string" value="/camera3/color/image_raw" />
      <param name="cam_intrinsic_4"    type="string" value="$(find segmentation_projection)/config/nclt_cams/nclt_intrinsic_3.npy"/>	
      <param name="cam2lidar_file_4"     type="string" value="$(find segmentation_projection)/config/nclt_cams/cam2body_3.npy"/>
      <param name="cam_distortion_4"        type="string" value="$(find segmentation_projection)/config/nclt_cams/U2D_Cam3_1616X1232.txt" />
     
    
  </node>

    <!-- BAGFILE -->
    <node pkg="rosbag" type="play" name="player" output="screen" args="$(arg bagfile) -q -l" />




 
</launch>
