<?xml version="1.0"?>

<launch>

  <!-- ARGS -->
  <arg name="neural_net_graph_path" default="$(find segmentation_projection)/config/graph_frozen_nclt_2019_01_17.pb" />
    <?ignore
    <arg name="bagfile" default="/home/nvidia/seagate/bagfiles/2019-01-17/vel1.bag /home/nvidia/seagate/bagfiles/2019-01-17/nclt_60s_04_29_img.bag" />

    
    <!-- BAGFILE -->
    <node pkg="rosbag" type="play" name="player" output="screen" args="$(arg bagfile) -q -l" />

    <!-- RVIZ -->
  
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg rvizfile)"/>
    ?>

    <!-- Run segmentation node -->

    <node pkg="segmentation_projection"     type="segmentation_projection_node" name="segmentation_projection_node" output="screen" clear_params="true" required="true" >
      
      <param name="labeled_pointcloud"   type="string" value="labeled_pointcloud" />
    
      <param name="neural_net_graph"     type="string" value="$(arg neural_net_graph_path)"/>
      <param name="is_output_distribution" type="int"  value="0" />
      <param name="num_classes"           type="int"   value="20"/>
      <param name="neural_net_input_width" type="int"  value="800" />
      <param name="neural_net_input_height" type="int" value="400" />
    
      <param name="lidar"                type="string" value="/velodyne_points" />
      <param name="velodyne_synced_path" type="string" value="/home/nvidia/seagate/NCLT/04_29/2012-04-29/velodyne_sync/" />
    
      <param name="camera_num"           type="int"    value='3' />
      <param name="image_0"              type="string" value="/camera1/color/image_raw" />
      <param name="cam_intrinsic_0"    type="string" value="$(find segmentation_projection)/config/nclt_cams/nclt_intrinsic_1.npy"/>	
      <param name="cam2lidar_file_0"     type="string" value="$(find segmentation_projection)/config/nclt_cams/cam2lidar_1.npy"/>
      <param name="cam_distortion_0"        type="string" value="$(find segmentation_projection)/config/nclt_cams/U2D_Cam1_1616X1232.txt" />
      
      <param name="image_1"              type="string" value="/camera4/color/image_raw" />
      <param name="cam_intrinsic_1"    type="string" value="$(find segmentation_projection)/config/nclt_cams/nclt_intrinsic_4.npy"/>	
      <param name="cam2lidar_file_1"     type="string" value="$(find segmentation_projection)/config/nclt_cams/cam2lidar_4.npy"/>
      <param name="cam_distortion_1"        type="string" value="$(find segmentation_projection)/config/nclt_cams/U2D_Cam4_1616X1232.txt" />
      
      <param name="image_2"              type="string" value="/camera5/color/image_raw" />
      <param name="cam_intrinsic_2"    type="string" value="$(find segmentation_projection)/config/nclt_cams/nclt_intrinsic_5.npy"/>	
      <param name="cam2lidar_file_2"     type="string" value="$(find segmentation_projection)/config/nclt_cams/cam2lidar_5.npy"/>
      <param name="cam_distortion_2"        type="string" value="$(find segmentation_projection)/config/nclt_cams/U2D_Cam5_1616X1232.txt" />
    
  </node>




 
</launch>
