<?xml version="1.0"?>

<launch>

    <!-- ARGS -->
    <arg name="bagfile" default="$(find segmentation_projection)/data/2019-01-08-00-59-59.bag" />
    <arg name="neural_net_graph_path" default="$(find segmentation_projection)/config/graph_optimized_mobilenet_nclt_400p.pb" />	
    
    <!-- BAGFILE -->
    <node pkg="rosbag" type="play" name="player" output="screen" args="$(arg bagfile) -l" />

    <!-- RVIZ -->
    <?ignore
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg rvizfile)"/>
    ?>

    <!-- Run segmentation node -->

  <node pkg="segmentation_projection"     type="segmentation_projection_node" name="segmentation_projection_node" output="screen" clear_params="true" required="true" >
    <param name="labeled_pointcloud"   type="string" value="labeled_pointcloud" />
    <param name="neural_net_graph"     type="string" value="$(arg neural_net_graph_path)"/>
    <param name="lidar"                type="string" value="/velodyne_points" />	
    <param name="camera_num"           type="int"    value='1' />
    <param name="image_0"              type="string" value="/camera1/color/image_raw" />
    <param name="cam_intrinsic_0  "    type="string" value="$(find segmentation_projection)/config/realsense_instrinsic.npy"/>	
    <param name="cam2lidar_file_0"     type="string" value="$(find segmentation_projection)/config/realsense2lidar.npy"/>
    
  </node>




 
</launch>
